@import "variables";
.alertHolder {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$purple;
  padding-top:4rem;
  &.success {
    padding-top: 2rem;
  }
}
div.alert {
  background-color: $purple;
  color: $ivory;
  width:100%;
  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 700px) {
    width: 50%;
  }
  height: 4rem;
  font-size: 1.2rem;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:1em;
  @include box-shadow(0%);
  &.success, &.happy {
    background-color:$blue;
    @include box-shadow(0%);
  }
  a {
    color: $ivory;
    &:visited {
      color: $ivory;
    }
  }
}

.productPage {
  div.alert {
    margin-top:2em;
  }
}
