@import "variables";

.pageTopper {
  padding-top: 1rem;
  background-color:$ivory;
  color:$purple;
  width:100%;
  div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:1rem;
  }
  h1 {
    padding-left:2rem;
  }
  padding-bottom:0;
  img {
    height: 0.5em;
  }
  nav {
    padding-left:.5rem;
    @media (min-width: 700px) {
      padding-left: 1.2rem;
    }
    background-color: $blue;
    border-bottom:10px solid $purple;
    height:4rem;
    a {
    display: inline-block;
    font-size:1.2rem;
    margin: 1em;
    color: $ivory;
    }
    margin-bottom:0;
  }
}
