@import "variables";

//inputs
$input-border: 3px solid $purple;
$input-background: $ivory;
$input-text-color: $darkpurple;
$input-focus-border: 3px solid $bluegreen;
 //buttons
$button-background: $purple;
$button-text-color: $ivory;

input, button, select, textArea {
  font-size: 1.5rem;
  height: 2.2rem;
  padding:.2rem;
}


textArea {
  height:6rem;
  padding:.5rem;
}

input, textArea {
  color:$input-text-color;
  background-color: $input-background;
  border: $input-border;
  -webkit-transition: border .5s;
  transition: border .25s;
  &:focus {
      outline:none;
      border: $input-focus-border;
  }
}


select {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80px;
  color: $input-text-color;
  background-color:$input-background;
}

label {
  font-size:1.2rem;
}

button {
  padding-left:1rem;
  padding-right:1rem;
  background-color:$button-background;
  color:$button-text-color;
  transition: outline .1s;
  -webkit-transition: outline .1s;
  &:focus {
    outline: 3px solid $bluegreen;
  }
}



        /* FOR ALL SMALL FORMS ON A PAGE WITH OTHER STUFF */
.formContainer {
  display: flex;
  flex-direction: row;
  background-color:$blue;
  color:$button-text-color;
  @media (max-width:700px) {
    flex-direction: column;
    width:100%;
  }
  div.loginButton {
    width:120px;
    display: flex;
    justify-content:center;
    flex-direction:column;
    button.login {
      flex: 1 1 auto;
      background-color:$button-background;
      color:$input-text-color;
      border: 3px solid $darkpurple;
      padding:1rem;
      border: 3px solid $darkpurple;
      &:active {
        outline: $ivory;
      }
    }
  }
  .inputSurround {

    flex: 1 1 auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    @media (max-width:500px) {
      flex-direction: column;
      align-items: flex-start;
      label {
        margin-bottom:.5em;
      }
    }
    label {
      margin-right: 2em;
    }
    input {
      background-color:$input-background;
      height:2.5rem;
      padding:.3rem;
    }
    select {
      width:80px;
    }
  }
}

.pageForm {
  @media (max-width:500px) {
    padding:.5rem;
  }
  display:flex;
  flex-direction: column;
  align-items: center;
  // justify-content:center;
  .formContainer {
    flex: 0 1 auto;
    display:flex;
    flex-direction: column;
    background-color:$blue;
    color:$button-text-color;
    -webkit-transition: width .5s;
    transition: width .5s;
    width:100%;
    justify-content:center;
    @media (min-width:500px) {
      width:90%;
      padding:1rem;
    }
    @media (min-width:800px) {
      width: 80%;
    }
    max-width: 900px;
    .inputSurround {
      flex: 1 1 auto;
      justify-content: space-between;
      textarea {
        height: 6em;
        width: 70%;
      }
      label {
        font-size: 1.5rem;
        flex: 1 1 auto;
      }
      input, textarea {
        width: 70%;
        flex: 0 1 auto;
        @media (max-width:500px) {
          width: 100%;
        }

      }
    }

}
.buttonholder {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content:center;
  padding-top:1rem;
  padding-bottom: .5rem;
  margin:0;
  button {
    flex: 0 1 auto;
  }
}
}
