@import "variables";

.orderBox, .productDetailBox {
  display: flex;
  flex-direction: column;
  margin-top:1em;
  div.headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 6px solid $purple;
    background-color: $ivory;
  }
  div.productOrderBox {
    display: flex;
    flex-direction: column;
    border: 6px solid $purple;
    border-top:0;
    @include box-shadow(10%);
    div.singleProductOrder {
      padding:1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom:1rem;
      img {
      height: 150px;
      width: 150px;
      }
      div.orderProductDetails {
        padding: 1em;
        width: 50%;
      }
      div.orderBtn {
        justify-self: end;
        padding: 2em;
        button {
          padding-left: 1rem;
          padding-right: 1rem;
          background-color: $purple;
          color: $ivory;
          cursor: pointer;
        }
      }
    } //end singleProductOrder
  }
}
