@import "variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: $blue;
  a {
  display: inline-block;
  margin: 1em;
  }
}

form div {
  margin: 1em;
  display: inline-block;
}

div.productList {
  display:flex;
  height: 90vh;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  .product {
    height: 20%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    flex: 0 1 auto;
    width: 200px;
    display: flex;
    flex-direction:column;
    @media (max-width:500px) {
      width: 100%;
      max-width:100%;
    }
  }
}

.productPage {
  padding:2em;
  h1 {
    margin-top: 0;
  }
}


.productList > h3 {
  height: 2em;
}
