input, button, select {
  font-size: 1.5rem;
  height: 2rem;
}

select {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80px;
  color: #351F39;
}

label {
  font-size: 1.2rem;
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #726A95;
  color: #f9f9e8;
}

button.login {
  background-color: #726A95;
  color: #f9f9e8;
  padding: 1rem;
}

div.alert {
  background-color: #726A95;
  color: #f9f9e8;
  width: 50%;
  height: 4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.productPage div.alert {
  margin-top: 2em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #351F39;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.productList {
  display: flex;
  height: 90vh;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

div.productList .product {
  height: 30%;
  margin-top: 2em;
  margin-left: .5em;
  margin-right: .5em;
  padding: 1rem;
  flex: 0 1 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 6px solid #726A95;
  background-color: #f9f9e8;
}

@media (max-width: 500px) {
  div.productList .product {
    width: 100%;
    max-width: 100%;
  }
}

div.productList .product h3 {
  margin-top: 0;
}

.productPage {
  padding: 2em;
  color: #351F39;
}

.productPage h1 {
  margin-top: 0;
}

.productList > h3 {
  height: 2em;
}

.pageTopper {
  padding-top: 1rem;
  background-color: #f9f9e8;
  color: #726A95;
  width: 100%;
  padding-bottom: 0;
}

.pageTopper div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageTopper h1 {
  padding-left: 2rem;
}

.pageTopper img {
  height: 0.5em;
}

.pageTopper nav {
  background-color: #709FB0;
  border-bottom: 10px solid #726A95;
  margin-bottom: 0;
}

.pageTopper nav a {
  display: inline-block;
  margin: 1em;
  color: #f9f9e8;
}

.cartIcon {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.cartIcon p {
  background-color: red;
  color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  margin-bottom: -1.5em;
  margin-right: 3em;
  padding-top: 0.25em;
  z-index: 2;
}

.cartIcon img {
  height: 5em;
  width: 5em;
  margin-top: 0;
  margin-right: 2em;
  z-index: 0;
}

.formContainer {
  display: flex;
  flex-direction: row;
  background-color: #709FB0;
  color: #f9f9e8;
}

@media (max-width: 700px) {
  .formContainer {
    flex-direction: column;
  }
}

.formContainer .inputSurround {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 500px) {
  .formContainer .inputSurround {
    flex-direction: column;
    align-items: flex-start;
  }
  .formContainer .inputSurround label {
    margin-bottom: .5em;
  }
}

.formContainer .inputSurround label {
  margin-right: 2em;
}

.formContainer .inputSurround input {
  background-color: #f9f9e8;
}

.formContainer .inputSurround select {
  width: 80px;
}

.productPage {
  padding: 2em;
}

.orderPage {
  padding: 2em;
}

.orderPage div.orderList {
  display: flex;
  flex-direction: column;
}

.orderPage div.orderList div.order {
  padding-bottom: 2em;
}

.orderBox {
  display: flex;
  flex-direction: column;
}

.orderBox div.headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 6px solid #726A95;
  background-color: #f9f9e8;
}

.orderBox div.productOrderBox {
  display: flex;
  flex-direction: column;
  border: 6px solid #726A95;
}

.orderBox div.productOrderBox div.singleProductOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderBox div.productOrderBox div.singleProductOrder img {
  height: 150px;
  width: 150px;
}

.orderBox div.productOrderBox div.singleProductOrder div.orderProductDetails {
  padding: 1em;
  width: 50%;
}

.orderBox div.productOrderBox div.singleProductOrder div.orderBtn {
  justify-self: end;
  padding: 2em;
}

.orderBox div.productOrderBox div.singleProductOrder div.orderBtn button {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #726A95;
  color: #f9f9e8;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */