@import "variables";
@import "inputs";
@import "alerts";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin:0;
  padding:0;
  color:$darkpurple;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.productList {
  display:flex;
  height: 90vh;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  .product {
    height: 30%;
    margin-top: 2em;
    margin-left: .5em;
    margin-right: .5em;
    padding:1rem;
    flex: 0 1 auto;
    width: 200px;
    display: flex;
    flex-direction:column;
    border: 6px solid $purple;
    background-color:$ivory;
    @media (max-width:500px) {
      width: 100%;
      max-width:100%;
    }
    h3 {
      margin-top:0;
    }
  }
}

.productPage {
  padding:2em;
  color: $darkpurple;
  h1 {
    margin-top: 0;
  }
}


.productList > h3 {
  height: 2em;
}

.pageTopper {
  padding-top: 1rem;
  background-color:$ivory;
  color:$purple;
  width:100%;
  div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    padding-left:2rem;
  }
  padding-bottom:0;
  img {
    height: 0.5em;
  }
  nav {
    background-color: $blue;
    border-bottom:10px solid $purple;
    a {
    display: inline-block;
    margin: 1em;
    color: $ivory;
    }
    margin-bottom:0;
  }
}

.cartIcon {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  p {
    position: absolute;
    background-color: red;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.25em;
    z-index: 2;
  }
  img {
    height: 5em;
    width: 5em;
    margin-top: 0;
    margin-right: 2em;
    z-index: 0;
  }
}

.formContainer {
  display: flex;
  flex-direction: row;
  background-color:$blue;
  color:$ivory;
  @media (max-width:700px) {
    flex-direction: column;
  }
  .inputSurround {
    flex: 1 1 auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    @media (max-width:500px) {
      flex-direction: column;
      align-items: flex-start;
      label {
        margin-bottom:.5em;
      }
    }
    label {
      margin-right: 2em;
    }
    input {
      background-color:$ivory;
    }
    select {
      width:80px;
    }
  }
}

.productPage {
    padding:2em;
}

.orderPage {
  padding:2em;
    div.orderList {
    display: flex;
    flex-direction: column;
    div.order {
      padding-bottom: 2em;
    }
  }
}

.orderBox {
  display: flex;
  flex-direction: column;
  div.headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 6px solid #726A95;
    background-color: #f9f9e8;
  }
  div.productOrderBox {
    display: flex;
    flex-direction: column;
    border: 6px solid #726A95;
    div.singleProductOrder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
      height: 150px;
      width: 150px;
      }
      div.orderProductDetails {
        padding: 1em;
        width: 50%;
      }
      div.orderBtn {
        justify-self: end;
        padding: 2em;
        button {
          padding-left: 1rem;
          padding-right: 1rem;
          background-color: #726A95;
          color: #f9f9e8;
          cursor: pointer;
        }
      }
    }
  }
}
