html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.productList {
  display:flex;
  height: 90vh;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.productList > .product {
    height: 20%;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    flex: 0 1 auto;
    width: 20%;
    display: flex;
    flex-direction:column;
}

.productList > h3 {
  height: 2em;
}
